#root {
  text-align: center;
}

.footer {
  /* position: sticky; */
  width: 100%;
  margin-top: auto;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

